@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using UserDaoLibrary;

<h1>@ViewBag.title</h1>

<table class="table">
    @{
        foreach (User u in ViewBag.users)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.Name</td>
                <td>@u.Email</td>
                <td>@u.Active</td>
            </tr>
        }
    }
</table>